<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-dark d-flex justify-content-between">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
    </ul>
    <div class="d-flex align-items-center">
      <div class="hi">Hi, {{localUser.name}}{{#ifCond localUser.superuser '1'}} (Superuser){{/ifCond}}</div>
      <a href="/profile" class="nav-link" id="profile">Profile</a>
      <form action="/logout" method="post">
        <button type="submit" class="signout">Sign out</button>
      </form>
    </div>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-2">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="https://i.imgur.com/euLn4Te.png" alt=" Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">The Eye of Horus</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="/dashboards" class="nav-link select">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/alerts" class="nav-link">
              <i class="nav-icon fas fa-bell"></i>
              <p>
                Alert
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/receivers" class="nav-link">
              <i class="nav-icon fas fa-envelope"></i>
              <p>
                Receiver
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/profile" class="nav-link">
              <i class="nav-icon fa fa-user"></i>
              <p>
                Profile
              </p>
            </a>
          </li>
          {{#ifCond localUser.superuser '1'}}
          <li class="nav-item">
            <a href="/admin/users" class="nav-link">
              <i class="nav-icon fa fa-users"></i>
              <p>
                Users
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/admin/roles" class="nav-link">
              <i class="nav-icon fa fa-user-tag"></i>
              <p>
                Roles
              </p>
            </a>
          </li>
          {{/ifCond}}
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper bg-dark">
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        {{#if error_messages}}
        <div class="alert alert-danger" role="alert" style="opacity: 0.5;">
        {{error_messages}}
        </div>
        {{/if}}
        <form {{#if data}} action="/dashboards/{{data.dashboardId}}/chart/{{data.chartId}}?_method=PUT" {{else}} action="/dashboards/{{dashboardId}}/chart" {{/if}} method="post" class="pb-5">
          <div style="margin: 0; padding: 0;">
              <div class="row pt-3 ml-5">
                <div class="col-1 p-0">
                  <label for="title" class="d-flex align-items-center">Title</label>
                </div>
                <div class="col-2 p-0 mr-5">
                  <input class="form-control" type="text" id="title" name="title" placeholder="Chart-1"style="background: #343A40; color:white" value="{{data.title}}" required>
                </div>
                <div class="col-2 p-0">
                  <label for="font-size" class="d-flex align-items-center">Title font size</label>
                </div>
                <div class="col-2 p-0 mr-5" style="margin-left: -30px;">
                  <input class="form-control" style="background: #343A40; color:white" type="number" min="0" id="font-size" name="fontSize" {{#if data}}value="{{data.titleFontSize}}" {{else}} value="20" {{/if}} required>
                </div>
                <div class="col-2 p-0">
                  <label for="time-range" class="d-flex align-items-center">Time range</label>
                </div>
                <div class="col-2 p-0" style="margin-left: -30px;">
                  <select class="form-control" id="time-range" style="background: #343A40; color:white" name="timeRange">
                    <option value="5-m" {{#ifCond data.timeRange '5-m'}}selected{{/ifCond}}>Last 5 minutes</option>
                    <option value="15-m"{{#ifCond data.timeRange '15-m'}}selected{{/ifCond}}>Last 15 minutes</option>
                    <option value="30-m"{{#ifCond data.timeRange '30-m'}}selected{{/ifCond}}>Last 30 minutes</option>
                    <option value="1-h" {{#ifCond data.timeRange '1-h'}}selected{{/ifCond}}>Last 1 hour</option>
                    <option value="3-h" {{#ifCond data.timeRange '3-h'}}selected{{/ifCond}}>Last 3 hour</option>
                    <option value="6-h" {{#ifCond data.timeRange '6-h'}}selected{{/ifCond}}>Last 6 hour</option>
                    <option value="12-h" {{#ifCond data.timeRange '12-h'}}selected{{/ifCond}}>Last 12 hour</option>
                    <option value="24-h" {{#ifCond data.timeRange '24-h'}}selected{{/ifCond}}>Last 24 hour</option>
                    <option value="2-d" {{#ifCond data.timeRange '2-d'}}selected{{/ifCond}}>Last 2 days</option>
                    <option value="7-d" {{#ifCond data.timeRange '7-d'}}selected{{/ifCond}}>Last 7 days</option>
                    <option value="30-d" {{#ifCond data.timeRange '30-d'}}selected{{/ifCond}}>Last 30 days</option>
                    <option value="90-d" {{#ifCond data.timeRange '90-d'}}selected{{/ifCond}}>Last 90 days</option>
                    <option value="6-M" {{#ifCond data.timeRange '6-M'}}selected{{/ifCond}}>Last 6 months</option>
                    <option value="1-y" {{#ifCond data.timeRange '1-y'}}selected{{/ifCond}}>Last 1 year</option>
                    <option value="2-y" {{#ifCond data.timeRange '2-y'}}selected{{/ifCond}}>Last 2 years</option>
                    <option value="5-y"{{#ifCond data.timeRange '5-y'}}selected{{/ifCond}}>Last 5 years</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-12 card m-auto" style="width: 90%; background: #343A40">
                  <!-- /.card-header -->
                  <div class="card-body table-responsive p-1 d-flex justify-content-center" style="height: 50vh;">
                    <div class="chart"></div>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
              
              <div class="row mt-3 ml-5">
                <div class="col-1 p-0">
                  <label for="source" class="d-flex align-items-center">Source</label>
                </div>
                <div class="col-2 p-0 mr-5">
                  <select class="form-control" id="source" style="background: #343A40; color:white" name="source">                 
                    {{#if data}}
                      {{#each source}}
                      <option value="{{this}}" {{#ifCond this ../data.source }}selected{{/ifCond}}>{{this}}</option>
                      {{/each}}
                    {{else}}
                      {{#each source}}
                      <option value="{{this}}">{{this}}</option>
                      {{/each}}
                    {{/if}}
                  </select>
                </div>
                <div class="col-2 p-0">
                  <label for="type" class="d-flex align-items-center">Type instance</label>
                </div>
                <div class="col-2 p-0" style="margin-left: -30px; margin-right: 230px;">
                  <select class="form-control" id="type" style="background: #343A40; color:white" name="type">
                    {{#if data}}
                      {{#each type}}
                        <option value="{{this}}" {{#ifCond this ../data.type }}selected{{/ifCond}}>{{this}}</option>
                      {{/each}}
                    {{/if}}
                  </select>
                </div>
                <div class="col-2 p-0">
                  <div class="btn" style="background-color:#59573C; color:#C2C7D0" id="preview">Preview chart</div>
                  <button type="submit" class="btn" style="background-color: #8C745E; color:#C2C7D0">SAVE</button>
                </div>
              </div>

              <div class="row mt-3 ml-5">  
                <div class="col-1 p-0">
                  <label for="style" class="d-flex align-items-center">Style</label>
                </div>
                <div class="col-2 p-0 mr-5">
                  <select class="form-control" id="style" style="background: #343A40; color:white" name="style">
                    <option value="line" {{#ifCond data.style 'line'}}selected{{/ifCond}}>line chart</option>
                    <option value="bar" {{#ifCond data.style 'bar'}}selected{{/ifCond}}>bar chart</option>
                  </select>
                </div>
                <div class="col-2 p-0">
                  <label for="interval" class="d-flex align-items-center">Interval</label>
                </div>
                <div class="col-1 p-0" style="margin-left: -30px;" >
                  <input class="form-control" type="number" min="1" style="background: #343A40; color:white; width:80px" name="interval" id="interval" {{#if data}}value="{{data.interval}}" {{else}} value="10" {{/if}}>
                </div>
                <div class="col-1 p-0 mr-5">
                  <select class="form-control" style="background: #343A40; color:white" name="interval_unit" id="interval_unit">
                    <option value="s" {{#ifCond data.interval_unit 's'}}selected{{/ifCond}}>second</option>
                    <option value="m" {{#ifCond data.interval_unit 'm'}}selected{{/ifCond}}>minute</option>
                    <option value="h" {{#ifCond data.interval_unit 'h'}}selected{{/ifCond}}>hour</option>
                    <option value="d" {{#ifCond data.interval_unit 'd'}}selected{{/ifCond}}>day</option>
                    <option value="w" {{#ifCond data.interval_unit 'w'}}selected{{/ifCond}}>week</option>
                  </select>
                </div>
                <div class="col-2 p-0">
                  <label for="select" class="d-flex align-items-center">Select</label>
                </div>
                <div class="col-2 p-0" style="margin-left: -30px;">
                  <select class="form-control" id="select" style="background: #343A40; color:white" name="select" id="select">
                    <option value="min" {{#ifCond data.select 'min'}}selected{{/ifCond}}>min</option>
                    <option value="max" {{#ifCond data.select 'max'}}selected{{/ifCond}}>max</option>
                    <option value="mean" {{#ifCond data.select 'mean'}}selected{{/ifCond}}>mean</option>
                    <option value="sum" {{#ifCond data.select 'sum'}}selected{{/ifCond}}>sum</option>
                    <option value="count" {{#ifCond data.select 'count'}}selected{{/ifCond}}>count</option>
                  </select>
                </div>
              </div>

              <div class="row mt-3 ml-5">
                <div class="col-1 p-0">
                  <label for="xAxis-title" class="d-flex align-items-center">x-Axis title</label>
                </div>
                <div class="col-2 p-0 mr-5">
                  <input class="form-control" type="text" style="background: #343A40; color:white" name="xAxisTitle" id="xAxis-title" placeholder="xAxis" {{#if data}}value="{{data.xAxisTitle}}"{{/if}}>
                </div>
                <div class="col-2 p-0">
                  <label for="xAxis-font-size" class="d-flex align-items-center">x-Axis title font size</label>
                </div>
                <div class="col-2 p-0 mr-5" style="margin-left: -30px;">
                  <input class="form-control" type="number" min="1" style="background: #343A40; color:white" name="xAxisFontSize" id="xAxis-font-size" {{#if data}} value="{{data.xAxisFontSize}}" {{else}} value="16" {{/if}}>
                </div>
                <div class="col-2 p-0">
                  <label for="xAxis-tick-font-size" class="d-flex align-items-center">x-Axis tick font size</label>
                </div>
                <div class="col-2 p-0" style="margin-left: -30px;">
                  <input class="form-control" type="number" min="1" style="background: #343A40; color:white" name="xAxisTickFontSize" id="xAxis-tick-font-size" {{#if data}} value="{{data.xAxisTickFontSize}}" {{else}} value="12" {{/if}}>
                </div>
              </div>
              
              <div class="row mt-3 ml-5">
                <div class="col-1 p-0">
                  <label for="yAxis-title" class="d-flex align-items-center">y-Axis title</label>
                </div>
                <div class="col-2 p-0 mr-5">
                  <input class="form-control" type="text" style="background: #343A40; color:white" name="yAxisTitle" id="yAxis-title" placeholder="yAxis" {{#if data}}value="{{data.yAxisTitle}}"{{/if}}>
                </div>
                <div class="col-2 p-0">
                  <label for="yAxis-font-size" class="d-flex align-items-center">y-Axis title font size</label>
                </div>
                <div class="col-2 p-0 mr-5" style="margin-left: -30px;">
                  <input class="form-control" type="number" min="1" style="background: #343A40; color:white" name="yAxisFontSize" id="yAxis-font-size" {{#if data}} value="{{data.yAxisFontSize}}" {{else}} value="16" {{/if}}>
                </div>
                <div class="col-2 p-0">
                  <label for="yAxis-tick-font-size" class="d-flex align-items-center">y-Axis tick font size</label>
                </div>
                <div class="col-2 p-0" style="margin-left: -30px;">
                  <input class="form-control" type="number" min="1" style="background: #343A40; color:white" name="yAxisTickFontSize" id="yAxis-tick-font-size" {{#if data}} value="{{data.yAxisTickFontSize}}" {{else}} value="12" {{/if}}>
                </div>
              </div>
          </div>
        </form>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer bg-dark">
    <strong>Copyright &copy; 2022 &nbsp;</strong> All rights reserved.
  </footer>
</div>
<!-- ./wrapper -->
</body>
<script>
  const preview = $('#preview')
  const timeRange = $('#time-range')
  const source = $('#source')
  const type = $('#type')
  const interval = $('#interval')
  const interval_unit = $('#interval_unit')
  const selects = $('#select')
  const charts = $('.chart')
  const style = $('#style')
  const title = $('#title')
  const fontSize = $('#font-size')
  const xAxisTitle = $('#xAxis-title')
  const xAxisFontSize = $('#xAxis-font-size')
  const xAxisTickFontSize = $('#xAxis-tick-font-size')
  const yAxisTitle = $('#yAxis-title')
  const yAxisFontSize = $('#yAxis-font-size')
  const yAxisTickFontSize = $('#yAxis-tick-font-size')
const dashboardId = {{dashboardId}}

  preview.on('click', async (e) => {
    let dashboardId = '{{dashboardId}}'
    if('{{data.dashboardId}}'){
      dashboardId = '{{data.dashboardId}}'
    }

    const response = await axios.post(`/dashboards/${dashboardId}/chart/preview`,{ 
        timeRange: timeRange.val(),
        source: source.val(),
        type: type.val(),
        style: '',
        interval: interval.val(),
        interval_unit: interval_unit.val(),
        select: selects.val()
      });
    
    const chart = charts[0]
    const result = response.data.data
    const select = response.data.select + '_value'

    const trace = {
      x: result.map(item => item.time),
      y: result.map(item => item[select]),
      type: style.val(),
      connectgaps: true
    }


    var layout = {
      title: title.val(),
      titlefont: { size: fontSize.val(), color: '#FFF' },
        xaxis: {
          title: xAxisTitle.val(),
          titlefont: { size: xAxisFontSize.val(), color: '#FFF' },
          tickfont: { size: xAxisTickFontSize.val(), color: '#FFF'  }
        },
        yaxis: {
          title: yAxisTitle.val(),
          titlefont: { size: yAxisFontSize.val(), color: '#FFF' },
          tickfont: { size: yAxisTickFontSize.val(), color: '#FFF' }
        }, 
      paper_bgcolor: 'rgb(52,58,64)',
      plot_bgcolor: 'rgba(0,0,0,0)',
      legend: { font: { color: '#FFF' } },
    };

    Plotly.newPlot(chart, [trace], layout);
    })

  source.change( async () => {
    const sourceVal = source.val()
    const response = await axios.post('/dashboards/type_instance',{ source: sourceVal })
    let option = ''
    for(let i = 0; i < response.data.length; i++) {
      option += `<option value="${response.data[i]}">${response.data[i]}</option>`
    }
    type.html(option)
  })

  
</script>