<body class="hold-transition sidebar-mini">
  <script>
    const units = {
          s: 1,
          m: 60,
          h: 60 * 60,
          d: 24 * 60 * 60,
          M: 30 * 24 * 60 * 60,
          y: 365 * 30 * 24 * 60 * 60,
        };
    async function chart(id, time_range, database, measurement, type, chart_type, interval, interval_unit, selects, layout, chart_type , dashboard_id) {

    const response = await axios.post(`/dashboards/${dashboard_id}/chart/preview`,{
      timeRange: time_range,
      source: database + '/' + measurement,
      type: type,
      style: chart_type,
      interval: interval,
      interval_unit: interval_unit,
      select: selects
    });

    const chart = $(`.${id}`)[0]
    const result = response.data.data
    const select = response.data.select + '_value'
    const rangeIntoSec = (`${time_range}`.split('-')[0] * units[`${time_range}`.split('-')[1]])*1000;

    const trace = {
      x: result.map(item => {
          const timeStr = new Date(item.time).toLocaleString('en-GB').split(', ')
          const date = timeStr[0].split('/')
          const time = timeStr[1].split(':')
          return new Date(date[2],date[1],date[0],time[0],time[1],time[2])
        }),
      y: result.map(item => item[select]),
      type: chart_type,
      connectgaps: true
    }

     layout = JSON.parse(layout)

    Plotly.newPlot(chart, [trace], layout);
  }
  </script>
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-dark d-flex justify-content-between">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboards" style="display: inline-block;">Dashboard</a>
        {{#if dashboard}}
        <span style="color: #C2C7D0;">></span><a class="nav-link" href="/dashboards/{{dashboard.id}}" style="display: inline-block;">{{dashboard.name}}</a>
        {{else}}
        <span style="color: #C2C7D0;">></span><a class="nav-link" href="/dashboards/create" style="display: inline-block;">create</a>
        {{/if}}
      </li>
    </ul>
    <div class="d-flex align-items-center">
      <div class="hi">Hi, {{localUser.name}}{{#ifCond localUser.superuser '1'}} (Superuser){{/ifCond}}</div>
      <a href="/profile" class="nav-link" id="profile">Profile</a>
      <form action="/logout" method="post">
        <button type="submit" class="signout">Sign out</button>
      </form>
    </div>
  </nav>
  <!-- /.navbar -->
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-2">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="/eye.PNG" alt=" Logo" class="brand-image img-circle elevation-3">
      <span class="brand-text font-weight-light">The Eye of Horus</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="/dashboards" class="nav-link select">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
              {{!-- <i class="right fas fa-angle-left"></i> --}}
            </a>
            {{!-- <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Dashboard A</p>
                </a>
              </li>
            </ul> --}}
          </li>
          <li class="nav-item">
            <a href="/alerts" class="nav-link">
              <i class="nav-icon fas fa-bell"></i>
              <p>
                Alert
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/receivers" class="nav-link">
              <i class="nav-icon fas fa-envelope"></i>
              <p>
                Receiver
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/profile" class="nav-link">
              <i class="nav-icon fa fa-user"></i>
              <p>
                Profile
              </p>
            </a>
          </li>
          {{#ifCond localUser.superuser '1'}}
          <li class="nav-item">
            <a href="/admin/users" class="nav-link">
              <i class="nav-icon fa fa-users"></i>
              <p>
                Users
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/admin/roles" class="nav-link">
              <i class="nav-icon fa fa-user-tag"></i>
              <p>
                Roles
              </p>
            </a>
          </li>
          {{/ifCond}}
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper bg-dark">
    <!-- Content Header (Page header) -->

    <section class="content-header">
      <div class="container-fluid">
        <div class="mx-5 d-flex justify-content-between">
          <div class="d-flex align-items-center">
            <h1>{{dashboard.name}}</h1>
            {{#ifCond localUser.superuser '1'}}
            <a class="text-secondary ml-3" href="/dashboards/{{dashboard.id}}/setting"><i class="fas fa-cog"></i></a>
            </div>
            <div class="d-flex justify-content-end">
              <a href="/dashboards/{{dashboard.id}}/create"><button class="btn buttons"><i class="fas fa-plus"></i></button></a>
            {{else}}
              {{#if dashboard.adminPermission}}
              <a class="text-secondary ml-3" href="/dashboards/{{dashboard.id}}/setting"><i class="fas fa-cog"></i></a>
              {{/if}}
            </div>
            <div class="d-flex justify-content-end">
              {{#if dashboard.editPermission}}
              <a href="/dashboards/{{dashboard.id}}/create"><button class="btn buttons"><i class="fas fa-plus"></i></button></a>
              {{/if}}
            {{/ifCond}}
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        {{#if error_messages}}
        <div class="alert alert-danger" role="alert" style="opacity: 0.8;">
        {{error_messages}}
        </div>
        {{/if}}
        <div class="card-wrapper d-flex flex-wrap ml-3 bg-dark ">
          {{#ifCond localUser.superuser '1'}}
          {{#each charts}}
            <div class="card m-2 bg-dark {{this.id}}" style="width: 48%; height: 50vh; position:relative; box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.651)">
              <a href="/dashboards/{{this.dashboard_id}}/chart/{{this.id}}" class="btn mt-3" style="height: 4vh; line-height:100%; position:absolute; left: 5%"><i class="fas fa-edit chart-edit"></i></a>
              <button  class="btn mt-3 font-weight-bold" style="height: 4vh; line-height:100%; background-color:transparent; border:none; color:aliceblue; position:absolute; right: 5%" data-toggle="modal" data-target="#modal{{this.id}}">X</button>
              <div class="modal fade" id="modal{{this.id}}">
                <div class="modal-dialog">
                <div class="modal-content bg-light">
                  <div class="modal-header">
                    <h4 class="modal-title">Delete chart</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>Are you sure you want to delete this chart? </p>
                    <p>- {{this.title}}</p>
                  </div>
                  <div class="modal-footer justify-content-end">
                    <button type="button" class="btn btn-outline-light" style="margin-right: 7vw;" data-dismiss="modal">Cancel</button>
                    <form action="/dashboards/{{this.dashboard_id}}/chart/{{this.id}}?_method=DELETE" method="post" style="position:absolute; right: 5%; display:block">
                      <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                  </div>
              </div>
              </div>
              </div>
            </div>

            <script>
            function runner{{this.id}}() {
                chart({{this.id}}, '{{this.time_range}}','{{this.database}}','{{this.measurement}}','{{this.type}}','{{this.chart_type}}',{{this.interval}},'{{this.interval_unit}}','{{this.select}}','{{{this.layout}}}', '{{this.chart_type}}',{{this.dashboard_id}});
                setTimeout(function() {
                    runner{{this.id}}();
                }, {{{this.setInterval}}});
            }
            
            runner{{this.id}}();
            </script>
          {{/each}}
          {{else}}
          {{#each charts}}
            <div class="card m-2 bg-dark {{this.id}}" style="width: 48%; height: 50vh; position:relative; box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.651)">
              {{#if ../dashboard.editPermission}}
              <a href="/dashboards/{{this.dashboard_id}}/chart/{{this.id}}" class="btn mt-3" style="height: 4vh; line-height:100%; position:absolute; left: 5%"><i class="fas fa-edit chart-edit" style="color:#8C745E;"></i></a>
              <button  class="btn mt-3 font-weight-bold" style="height: 4vh; line-height:100%; background-color:transparent; border:none; color:aliceblue; position:absolute; right: 5%" data-toggle="modal" data-target="#modal{{this.id}}">X</button>
              {{/if}}
              <div class="modal fade" id="modal{{this.id}}">
                <div class="modal-dialog">
                <div class="modal-content bg-light">
                  <div class="modal-header">
                    <h4 class="modal-title">Delete chart</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>Are you sure you want to delete this chart? </p>
                    <p>- {{this.title}}</p>
                  </div>
                  <div class="modal-footer justify-content-end">
                    <button type="button" class="btn btn-outline-light" style="margin-right: 7vw;" data-dismiss="modal">Cancel</button>
                    <form action="/dashboards/{{this.dashboard_id}}/chart/{{this.id}}?_method=DELETE" method="post" style="position:absolute; right: 5%">
                      <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                  </div>
              </div>
              </div>
              </div>
            </div>

            <script>
            
            function runner{{this.id}}() {
                chart({{this.id}}, '{{this.time_range}}','{{this.database}}','{{this.measurement}}','{{this.type}}','{{this.chart_type}}',{{this.interval}},'{{this.interval_unit}}','{{this.select}}','{{{this.layout}}}', '{{this.chart_type}}',{{this.dashboard_id}});
                setTimeout(function() {
                    runner{{this.id}}();
                }, {{{this.setInterval}}});
            }
            
            runner{{this.id}}();
            </script>
          {{/each}}
          {{/ifCond}}
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer bg-dark">
    <strong>Copyright &copy; 2022 The Eye of Horus&nbsp;</strong> All rights reserved.
  </footer>
</div>
<!-- ./wrapper -->
</body>