<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-dark d-flex justify-content-between">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
    </ul>
    <div class="d-flex align-items-center">
      <div class="hi">Hi, {{localUser.name}}{{#ifCond localUser.superuser '1'}} (Superuser){{/ifCond}}</div>
      <a href="/profile" class="nav-link" id="profile">Profile</a>
      <form action="/logout" method="post">
        <button type="submit" class="signout">Sign out</button>
      </form>
    </div>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-2">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="/eye.PNG" alt=" Logo" class="brand-image img-circle elevation-3">
      <span class="brand-text font-weight-light">The Eye of Horus</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="/dashboards" class="nav-link select">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/alerts" class="nav-link">
              <i class="nav-icon fas fa-bell"></i>
              <p>
                Alert
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/receivers" class="nav-link">
              <i class="nav-icon fas fa-envelope"></i>
              <p>
                Receiver
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/profile" class="nav-link">
              <i class="nav-icon fa fa-user"></i>
              <p>
                Profile
              </p>
            </a>
          </li>
          {{#ifCond localUser.superuser '1'}}
          <li class="nav-item">
            <a href="/admin/users" class="nav-link">
              <i class="nav-icon fa fa-users"></i>
              <p>
                Users
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/admin/roles" class="nav-link">
              <i class="nav-icon fa fa-user-tag"></i>
              <p>
                Roles
              </p>
            </a>
          </li>
          {{/ifCond}}
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="background-color: rgba(52, 58, 64, 0.980);">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        {{#if error_messages}}
        <div class="alert alert-danger" role="alert" style="opacity: 0.8;">
        {{error_messages}}
        </div>
        {{/if}}
        <div class="mx-5 d-flex justify-content-between">
          <div>
            <h1 class="text-light">Dashboards</h1>
          </div>
          <div class="d-flex justify-content-end">
            {{#ifCond localUser.superuser '1'}}
              <a href="/dashboards/create"><button class="btn buttons" >Add dashboard</button></a>
            {{/ifCond}}
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- /.row -->
        <div class="row">
          <div class="col-12">
            <div class="card m-auto bg-dark" style="width: 90%;">
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0" style="height: 500px">
                <table class="table table-head-fixed text-nowrap">
                  <thead>
                    <tr>
                      <th class="col-4 bg-secondary">Title</th>
                      <th class="col-2 text-center bg-secondary">Setting</th>
                      <th class="col-1 text-center bg-secondary">Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#ifCond localUser.superuser '1'}}
                     {{#each dashboards}}
                        <tr>
                          <td> <a href="/dashboards/{{this.id}}" style="color: #C2C7D0">{{this.name}}</a> </td>
                          <td class="text-center"><a class="text-secondary" href="/dashboards/{{this.id}}/setting"><i class="fas fa-cog" style="color:#C2C7D0"></i></a></td>
                          <td class="text-center text-danger"><a data-toggle="modal" data-target="#modal{{this.id}}"><i class="fas fa-minus-circle pointer"></i></a></td>
                            <div class="modal fade" id="modal{{this.id}}">
                              <div class="modal-dialog">
                              <div class="modal-content bg-light">
                                <div class="modal-header">
                                  <h4 class="modal-title">Delete dashboard</h4>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <p>Are you sure you want to delete this dashboard? </p>
                                  <p>- {{this.name}}</p>
                                </div>
                                <div class="modal-footer justify-content-end">
                                  <button type="button" class="btn btn-outline-light" data-dismiss="modal">Cancel</button>
                                  <form action="/dashboards/{{this.id}}?_method=DELETE" method="post" style="position:absolute; right: 5%">
                                    <button type="submit" class="btn btn-danger" >Delete</button>
                                  </form>
                                </div>
                            </div>
                            </div>
                        </tr>
                      {{/each}}
                    {{else}}
                      {{#each dashboards}}
                        {{#if this.viewPermission}}
                          <tr>
                            <td> <a href="/dashboards/{{this.id}}" style="color: #C2C7D0">{{this.name}}</a> </td>
                            {{#if this.adminPermission}}
                            <td class="text-center"><a href="/dashboards/{{this.id}}/setting"><i class="fas fa-cog" style="color:#C2C7D0"></i></a></td>
                            <td class="text-center text-danger"><a data-toggle="modal" data-target="#modal{{this.id}}"><i class="fas fa-minus-circle pointer"></i></a></td>
                              <div class="modal fade" id="modal{{this.id}}">
                                <div class="modal-dialog">
                                <div class="modal-content bg-light">
                                  <div class="modal-header">
                                    <h4 class="modal-title">Delete dashboard</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <p>Are you sure you want to delete this dashboard? </p>
                                    <p>- {{this.name}}</p>
                                  </div>
                                  <div class="modal-footer justify-content-end">
                                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Cancel</button>
                                    <form action="/dashboards/{{this.id}}?_method=DELETE" method="post" style="position:absolute; right: 5%">
                                      <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                  </div>
                              </div>
                              </div>
                              {{else}}
                            <td></td>
                            <td></td>
                            {{/if}}
                        {{/if}}
                      {{/each}}
                            
                          </tr>
                    {{/ifCond}}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer bg-dark">
    <strong>Copyright &copy; 2022 The Eye of Horus&nbsp;</strong> All rights reserved.
  </footer>
</div>
<!-- ./wrapper -->
</body>