<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-dark d-flex justify-content-between">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile" style="display: inline-block;">Profile</a>
        <span style="color: #C2C7D0;">></span>
        <a class="nav-link" href="/profile/{{localUser.id}}" style="display: inline-block;">edit</a>
      </li>
    </ul>
    <div class="d-flex align-items-center">
      <div class="hi">Hi, {{localUser.name}}{{#ifCond localUser.superuser '1'}} (Superuser){{/ifCond}}</div>
      <a href="/profile" class="nav-link" id="profile">Profile</a>
      <form action="/logout" method="post">
        <button type="submit" class="signout">Sign out</button>
      </form>
    </div>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-2">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="/eye.PNG" alt=" Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">The Eye of Horus</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="/dashboards" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/alerts" class="nav-link">
              <i class="nav-icon fas fa-bell"></i>
              <p>
                Alert
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/receivers" class="nav-link">
              <i class="nav-icon fas fa-envelope"></i>
              <p>
                Receiver
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/profile" class="nav-link select">
              <i class="nav-icon fa fa-user"></i>
              <p>
                Profile
              </p>
            </a>
          </li>
          {{#ifCond localUser.superuser '1'}}
          <li class="nav-item">
            <a href="/admin/users" class="nav-link">
              <i class="nav-icon fa fa-users"></i>
              <p>
                Users
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/admin/roles" class="nav-link">
              <i class="nav-icon fa fa-user-tag"></i>
              <p>
                Roles
              </p>
            </a>
          </li>
          {{/ifCond}}
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper bg-dark">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        {{#if error_messages}}
        <div class="alert alert-danger" role="alert" style="opacity: 0.8; margin:0;">
          {{error_messages}}
        </div>
        {{/if}}
        {{#if error}}
          <div class="alert alert-danger" role="alert" style="opacity: 0.8; margin:0;">
            {{error}}
          </div>
        {{/if}}
        <div class="mx-5 d-flex align-items-center mt-3">
          <div>
            <h1>Profile</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- /.row -->
        <div class="row">
          <div class="col-12">
            <div class="card m-auto bg-dark" style="width: 90%;">
              <!-- form start -->
              <form action="/profile/{{localUser.id}}" method="post">
                <div class="card-body">
                  <div class="form-group">
                    <label for="name">Name *</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="{{localUser.name}}" required>
                  </div>
                  <div class="form-group">
                    <label for="email">Email *</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="{{localUser.email}}" required>
                  </div>
                  <div class="form-group">
                    <label for="password">Current Password *</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                  </div>
                  <div class="form-group">
                    <label for="newPassword">New Password</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="New Password">
                  </div>
                  <div class="form-group">
                    <label for="passwordConfirm">New Password Confirm</label>
                    <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" placeholder="Password Confirm">
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer bg-dark">
                  <button type="submit" class="btn buttons" id="save">Save</button>
                </div>
              </form>
            <!-- /.card -->
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer bg-dark">
    <strong>Copyright &copy; 2022 The Eye of Horus&nbsp;</strong> All rights reserved.
  </footer>
</div>
<!-- ./wrapper -->
</body>
<script>
  const name = $('#name')
  const email = $('#email')
  const password = $('#password')
  const newPassword = $('#newPassword')
  const passwordConfirm = $('#passwordConfirm')
  const save = $('#save')

  name.change(() => {
    if(name.val().length > 60){
      toastr.error('Max length of name is 60 characters')
      save.prop('disabled', true)
      return
    }
    save.prop('disabled', false)
  })

  email.change(() => {
    if(email.val().length > 254){
      toastr.error('Max length of email is 254 characters')
      save.prop('disabled', true)
      return
    }
    save.prop('disabled', false)
  })

  password.change(() => {
    if(password.val().length < 8 || password.val().length > 20){
      toastr.error('Length of password should between 8 to 20 characters')
      save.prop('disabled', true)
      return
    }
    save.prop('disabled', false)
  })

  newPassword.change(() => {
    if(newPassword.val().length < 8 || newPassword.val().length > 20){
      toastr.error('Length of new password should between 8 to 20 characters')
      save.prop('disabled', true)
      return
    }
    save.prop('disabled', false)
  })

  passwordConfirm.change(() => {
    if(passwordConfirm.val().length < 8 || passwordConfirm.val().length > 20){
      toastr.error('Length of password confirm should between 8 to 20 characters')
      save.prop('disabled', true)
      return
    }

    if(passwordConfirm.val() !== newPassword.val()){
      toastr.error('New Password and password confirm is not match')
      save.prop('disabled', true)
      return
    }

    save.prop('disabled', false)
  })
</script>